---
title: Welcome to Middleman
---

<div class="welcome">
  <h1> <i class="icon-stats"></i> Google is Watching you</h1>
  <p class="doc">
    <a href="#" onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Baby\'s First Birthday']);">Google</a>
  </p><!-- .doc -->
</div><!-- .welcome -->
