---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Google is Watching you</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
    <a href="#" onClick="_gaq.push(['_trackEvent', 'Videos', 'Play', 'Baby\'s First Birthday']);">Google</a>
  </p><!-- .doc -->
</div><!-- .welcome -->
