---
title: Welcome to Middleman
---

<div class="welcome">
  <h1> <i class="icon-stats"></i> Google is Watching you</h1>
  <p class="doc">
    Visits: <span id="visits"></span>
  </p><!-- .doc -->
  <div class="poll">
    <form action="#" id="first-poll">
      <h2>Poll:</h2>
      <ul>
        <li>
          <lable><input type="radio" name="poll" value="1"> First Option</lable>
        </li>
        <li>
          <lable><input type="radio" name="poll" value="2"> Second Option</lable>
        </li>
        <li>
          <lable><input type="radio" name="poll" value="3"> Third Option</lable>
        </li>
        <li>
          <lable><input type="radio" name="poll" value="4"> Fourth Option</lable>
        </li>
        <li>
          <lable><input type="radio" name="poll" value="5"> Fifth Option</lable>
        </li>
      </ul>
      <button id="submit-poll" type="submit">Submit</button>
    </form>
  </div>
</div><!-- .welcome -->
